:root {
  --noto: "Noto Sans";
  font-family: var(--noto), sans-serif;
  color-scheme: light dark;

  color: var(--fg);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg: black;
    --bg: #f5f5f5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: white;
    --bg: #363c50;
  }
}

html,
body,
#all {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#all,
#main {
  display: flex;
  justify-content: center;
}

#all {
  flex-direction: column;
}

#main {
  flex-direction: row;
  gap: 1rem;
}

canvas {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#canvases {
  width: 600px;
  height: 600px;
  border: 0.1rem solid black;
}

#knobboard {
  border: 0.1rem solid black;
}

input[type="range"] {
  display: block;
}
